<div>Icons made by <a
                href="https://www.freepik.com/?__hstc=57440181.02dd368ec0d011f7e04942e08b61a55a.1559834248722.1561304057387.1562858236579.3&__hssc=57440181.8.1562858236579&__hsfp=237958934"
                title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"
                title="Flaticon">www.flaticon.com</a> is
        licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
                target="_blank">CC
                3.0 BY</a></div>