<!DOCTYPE html>
<html dir="rtl">

<head>
    <title>Yad 2 Scraper</title>
    <link rel="stylesheet" href="https://bootstrap.rtlcss.com/docs/4.2/dist/css/rtl/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">

</head>

<body>
    {{>navbar}}
    <div class="jumbotron">
        <h1>דירותתת</h1>
    </div>
    <div class="container content-wrapper">

        <div class="row appartments">
            {{#each appartments}}
            {{>appartmentThumbnail}}
            {{/each}}
        </div>

    </div>

</body>

</html>

{{!-- <div class="col-md-2">
                            <img src="{{img_url}}">
                        </div>
                        <div class="col-md-2">
                            <p>{{row_1}}</p>
                        </div>
                        <div class="col-md-2">
                            <p>{{date_added}}</p>
                        </div> --}}