<!DOCTYPE html>
<html dor="rtl">

<head>
    <title>Yad 2 Scraper</title>
    <dir></dir>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Home</h1>
    <div class="container">

        <div class="row">
            {{#each appartments}}
            {{>appartmentThumbnail}}
            {{/each}}
        </div>

    </div>

</body>

</html>

{{!-- <div class="col-md-2">
                            <img src="{{img_url}}">
                        </div>
                        <div class="col-md-2">
                            <p>{{row_1}}</p>
                        </div>
                        <div class="col-md-2">
                            <p>{{date_added}}</p>
                        </div> --}}