<div class="modal fade" id="appt-modal" tabindex="-1" role="dialog" aria-labelledby="apptModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <iframe id="appt-content" src="" frameborder="0"></iframe>
    </div>
  </div>
</div>