html, body{
    height:100%;
}
.appt-main-img{
    width: 18rem;
    height: 12rem;
    object-fit: cover;
}
.appt-main-img.missing-img{
    background: grey;
    display: flex;
    font-size: 6rem;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.appartments{
    justify-content: space-evenly;
}
.card.appartment-thumb{
    margin-bottom: 3rem;
}

.appt-thumbnail-footer{
    justify-content: space-between
}

.feature-icons {
    display: flex;
    font-size: 1.3em;
}

.feature-icons .fa {
    padding: 3px;
}


.feature-icons .icon-inactive{
    opacity: 0.1;
}

.appt-details-container{
    padding-left: 20px;
}
#appt-modal .modal-content{
    height: 80vh;
}
#appt-modal .modal-content #appt-content{
    height:100%;
    width:100%;
    border:none;
}


.appt-content-wrapper, .appt-drill{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.appt-data{
    flex-grow: 1;
}
.appt-drill-footer{
    padding: 2rem;
}
.appt-drill-footer .fotter-btns .btn{
    margin-right: 1rem
}